*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.contentPage{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40vw;
    margin-inline: auto;

    margin-top: 5vh;
}
.contentPage input{
    width: 10vw;

    margin-block: 1vh;
}
.btnDefault{
    width: 10vw;
    height: 5vh;
    background-color: rgb(33, 104, 235);
    border: none;
    border-radius: 5px;
}